---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

@font-face {
  font-family: "Apple SD Gothic Neo";
  src: url("assets/Apple+산돌고딕+Neo/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("assets/woff2-subset/Pretendard-Black.subset.woff2") format("woff2"),
    url("assets/woff-subset/Pretendard-Black.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("assets/woff2-subset/Pretendard-ExtraBold.subset.woff2") format("woff2"),
    url("assets/woff-subset/Pretendard-ExtraBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("assets/woff2-subset/Pretendard-Bold.subset.woff2") format("woff2"),
    url("assets/woff-subset/Pretendard-Bold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("assets/woff2-subset/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("assets/woff-subset/Pretendard-SemiBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("assets/woff2-subset/Pretendard-Medium.subset.woff2") format("woff2"),
    url("assets/woff-subset/Pretendard-Medium.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("assets/woff2-subset/Pretendard-Regular.subset.woff2") format("woff2"),
    url("assets/woff-subset/Pretendard-Regular.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("assets/woff2-subset/Pretendard-Light.subset.woff2") format("woff2"),
    url("assets/woff-subset/Pretendard-Light.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("assets/woff2-subset/Pretendard-ExtraLight.subset.woff2")
      format("woff2"),
    url("assets/woff-subset/Pretendard-ExtraLight.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("assets/woff2-subset/Pretendard-Thin.subset.woff2") format("woff2"),
    url("assets/woff-subset/Pretendard-Thin.subset.woff") format("woff");
}

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 110%;
  font-family: "Pretendard", "Apple SD Gothic Neo", Arial, sans-serif;

  scroll-behavior: smooth;
}

body {
  // background: #121212;
  background: #fff;

  // color: #ececec;
  color: #555;
  line-height: 170%;
}
.container-top {
  margin: 0 auto;
  max-width: 820px;
  padding: 12px 24px;
  border-bottom: 1px solid #ececec;
}
.container {
  margin: 0 auto;
  max-width: 820px;
}

.pagination {
  margin-top: 50px;
  text-align: center;
}
a {
  color: $blue;
  text-decoration: none;
  h1:hover,
  &:active {
    color: $blue;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.7;
  margin: 1em 0 15px;
  // padding-bottom: 30px;

  @include mobile {
    line-height: 1.4;
  }
}
h3 {
  font-weight: 600;
  font-size: 1.1rem;
}
//post
.post {
  padding: 24px;
}

.post i {
  color: $blue;
  font-style: normal;
}
.post > h1 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 15px;
}
.post blockquote {
  margin: 1.8em 0.8em;
  color: #949797;
  font-size: 1.2rem;
  font-style: italic;
}
.post h2 {
  font-size: 1.4rem;
  font-weight: 600;
}
.posts > .post {
  margin: 18px 0;
  border-radius: 8px;
  cursor: pointer;
}

.posts > .post:hover {
  background-color: #fbfbfb;
}
.posts > .post h1 {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
.posts > .post .post_date {
  font-size: 0.8rem;
  letter-spacing: -0.1px;
}

.posts > .post > a > .tag {
  font-size: 0.75rem;
  font-style: italic;
  color: #212112;
}

.posts > .post blockquote {
  margin: 1.2em 0 0 0;
  padding: 0;
  font-size: 1rem;
  font-style: normal;
}
.post .entry > p {
  font-weight: 400;
  text-indent: 0.5em;
  line-height: 1.7;
  letter-spacing: -0.004em;
  overflow-wrap: break-word;
  word-break: break-all;
  font-size: 0.9375em;
  line-height: 2;
}

.post__user_date > .post__date {
  font-size: 0.9rem;
  color: #acacac;
}

.post .post_date {
  letter-spacing: 1px;
  color: #acacac;
}
.post__user_date {
  font-size: 1em;
  margin-bottom: 50px;
}

.post__user_date b {
  font-size: 0.9em;
}

.site-info > h1,
.site-info > h1 > a {
  margin-left: 0px;
  padding-bottom: 0px;
}
h1 {
  font-size: 27px;

  a {
    color: inherit;
  }
}

// markdown code
pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;

  background-color: #161b22;
  border-radius: 10px;
}
code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  color: #c9d1d9;
}

//////////////////////////////////////////////////// 기존 /////////////////////////////////////////////////////////

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 18px;
}

.masthead {
  padding: 20px 0;
  // border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #212121;
  cursor: pointer;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: #949797;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 17px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    color: #212112;
    margin-left: 60px;

    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  // border-top: 1px solid #ddd;
  // border-bottom: 1px solid #ddd;

  min-height: 100px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
