---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="post__user_date">
    <span class="post__date">{{ page.date | date: "%Y년 %m월 %d일" }} </span
    >·<span class="tag">
      {% for tag in page.tags %}
      <a href="{{site.baseurl}}/tag#{{tag}}"><span>#{{tag}}</span></a>
      {% endfor %}
    </span>
  </div>

  <div class="entry">{{ content }}</div>

  {% include disqus.html %}
</article>
<script
  src="https://utteranc.es/client.js"
  repo="umcondo/umcondo.github.io"
  issue-term="pathname"
  label="utterances"
  theme="github-light"
  crossorigin="anonymous"
  async
></script>
