---
layout: default
---

<div class="tags">
  {% for tag in site.data.tags %}
  <a href="#{{tag}}">
    <span class="tag" data-tag="{{tag}}">#{{tag}}</span>
  </a>
  {% endfor %}
</div>

<div class="posts">
  {% for post in site.posts %}
  <article
    class="post"
    {%
    if
    post.tags
    %}
    {%
    for
    tag
    in
    post.tags
    %}
    data-{{
    tag
    }}
    {%
    endfor
    %}
    {%
    endif
    %}
  >
    <a href="{{ site.baseurl }}{{  post.url }}">
      <h1>{{ post.title }}</h1>

      <div class="post_date">{{ post.date | date: "%Y년 %m월 %d일" }}</div>

      {% for tag in post.tags %} {% if site.data.tags contains tag %}
      <span class="tag" data-tag="{{tag}}">#{{tag}}</span>
      {% endif %} {% endfor %}
    </a>
  </article>
  {% endfor %}
</div>

<script>
  let currentTag = "";
  const queryString = decodeURI(location.href).split("#");
  const queryTag = queryString[1] || "";
  if (queryTag) {
    currentTag = queryTag;
    document.querySelectorAll(".tag").forEach((elm) => {
      if (elm.dataset === currentTag) {
        elm.classList.add("selected");
      }
    });
    filterByTagName(currentTag);
  }

  document.querySelectorAll(".tags .tag").forEach((elm) =>
    elm.addEventListener("click", (e) => {
      const currentTag = e.target.dataset.tag;
      filterByTagName(currentTag);
    })
  );

  function filterByTagName(tag) {
    document
      .querySelectorAll(".hidden")
      .forEach((elm) => elm.classList.remove("hidden"));

    document.querySelectorAll(".post").forEach((elm) => {
      if (!elm.hasAttribute(`data-${tag}`)) {
        elm.classList.add("hidden");
      }
    });

    document
      .querySelectorAll(".tag")
      .forEach((elm) => elm.classList.remove("selected"));

    document.querySelectorAll(`.tag`).forEach((elm) => {
      if (elm.dataset.tag === tag) {
        elm.classList.add("selected");
      }
    });
  }

  // 로딩 후 url 쿼리 파라미터로 태그 정렬
  //   window.addEventListener("load", () => {

  // const queryString = location.search;
  // const decodedQuery = decodeURI(queryString);
  // const params = new URLSearchParams(decodedQuery);
  // const queryTag = params.get("tag");

  //   });
</script>
